## Deliverable 3. Create a Travel Itinerary Map.

1. Import the vacation CSV file.
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to    and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it.
5. Then create a marker layer for the four cities.Each city will should have a pop-up marker that contains
        - The hotel name.
        - The city.
        - The country
        - The current weather description and the maximum temperature.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as pl
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Chuy,UY,49.41,few clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
1,5,Hermanus,ZA,52.81,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2,9,Taltal,CL,61.09,overcast clouds,-25.4000,-70.4833,Residencial Karime
3,11,Avila,ES,48.65,broken clouds,40.5833,-5.0000,El Carrascal
4,12,Cerqueira Cesar,BR,62.58,broken clouds,-23.0356,-49.1661,Pousada São Jorge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt>
<dt>Max Tem</dt><dt>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Vertou']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Vertou']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Soyaux']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Manosque']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Concarneau']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
162,638,Concarneau,FR,46.81,overcast clouds,47.875,-3.9225,Brit Hotel de L' Océan

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([47.1687, -1.4693], dtype=object)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(46, -1), zoom_level = 7)
Vertou = start
Soyaux = stop1
Manosque = stop2
Concarneau = stop3 
roadtrip = gmaps.directions_layer(Vertou, Vertou,
                                  waypoints=[Soyaux, Manosque, Concarneau],
                                  travel_mode="DRIVING")

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,467,Vertou,FR,46.38,clear sky,47.1687,-1.4693,Hotel La Louée
1,512,Soyaux,FR,54.68,clear sky,45.6500,0.2000,Mercure Angoulême - Hôtel de France
2,613,Manosque,FR,50.23,overcast clouds,43.8288,5.7869,Hôtel Restaurant Campanile Manosque
3,638,Concarneau,FR,46.81,overcast clouds,47.8750,-3.9225,Brit Hotel de L' Océan

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
roadtrip = gmaps.directions_layer(Vertou, Vertou,
                                  waypoints=[Soyaux, Manosque, Concarneau],
                                  travel_mode="DRIVING")
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# fig.add_layer(marker_layer)
fig.add_layer(roadtrip)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:

info_box_template = """
<d2>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dt> and {Max Temp} °F</dd>
</d2>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)




# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))