# Create Heatmaps for Weather Parameters

In [1]:
# Import the Depensencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

###### Load the CSV exported in Part 1 to a DataFrame

In [2]:
# Store  the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-29 04:25:08,-54.8000,-68.3000,37.87,98,100,2.95
1,1,Punta Arenas,CL,2022-04-29 04:25:45,-53.1500,-70.9167,42.91,70,75,18.41
2,2,Darhan,MN,2022-04-29 04:25:45,49.4867,105.9228,46.58,20,0,7.11
3,3,Katsuura,JP,2022-04-29 04:25:46,35.1333,140.3000,61.50,93,100,14.27
4,4,Narsaq,GL,2022-04-29 04:25:47,60.9167,-46.0500,43.02,81,100,1.54

In [3]:
# Get the Data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Maximun Temperature Heatmap

In [4]:
# Cofingure gmaps to use my Google API Key
gmaps.configure(api_key=g_key)

#### Create the Heatmap for the Maximum Temperature. Add the Locations arry and the values from the maximum temperature from our city_data_df DataFrame

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Temperature

In [7]:
 # Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
# max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Percent Humidity

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Cloudiness

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Wind Speed

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

 - Narrow down the cities to fit weather conditions.
 - Drop any rows will null values.

In [11]:
# Ask the customer to add a minimumn and maximum temperature value. 
#  The minimum temperature should not be lower than "0 °F". i.e., negative. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Katsuura,JP,2022-04-29 04:25:46,35.1333,140.3000,61.50,93,100,14.27
5,5,Te Anau,NZ,2022-04-29 04:25:47,-45.4167,167.7167,60.04,66,100,1.61
7,7,Aguimes,ES,2022-04-29 04:25:49,27.9054,-15.4461,61.43,68,75,23.02
9,9,Hobart,AU,2022-04-29 04:21:38,-42.8794,147.3294,71.46,73,75,13.80
12,12,Port Lincoln,AU,2022-04-29 04:25:51,-34.7333,135.8667,65.19,68,100,16.26
13,13,Rikitea,PF,2022-04-29 04:25:52,-23.1203,-134.9692,77.07,69,1,19.10
14,14,Harer,ET,2022-04-29 04:25:52,9.3094,42.1258,62.58,77,34,3.00
19,19,Pangai,TO,2022-04-29 04:25:55,-19.8000,-174.3500,78.91,83,75,19.57
22,22,Castro,BR,2022-04-29 04:25:56,-24.7911,-50.0119,61.74,90,80,2.68
23,23,New Norfolk,AU,2022-04-29 04:25:57,-42.7826,147.0587,71.10,54,100,8.19

In [14]:
 preferred_cities_df.notnull().sum()

City_ID       210
City          210
Country       208
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [15]:
 preferred_cities_df.count()

City_ID       210
City          210
Country       208
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

### Hotel Map

 - Store into variable named hotel_df.
 - Add a "Hotel Name" column to the DataFrame.
 - Set parameters to search for hotels with 5000 meters.
 - Hit the Google Places API for each city's coordinates.
 - Store the first Hotel result into the DataFrame.
 - Plot markers on top of the heatmap

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3       Katsuura      JP     61.50  35.1333  140.3000
5        Te Anau      NZ     60.04 -45.4167  167.7167
7        Aguimes      ES     61.43  27.9054  -15.4461
9         Hobart      AU     71.46 -42.8794  147.3294
12  Port Lincoln      AU     65.19 -34.7333  135.8667
13       Rikitea      PF     77.07 -23.1203 -134.9692
14         Harer      ET     62.58   9.3094   42.1258
19        Pangai      TO     78.91 -19.8000 -174.3500
22        Castro      BR     61.74 -24.7911  -50.0119
23   New Norfolk      AU     71.10 -42.7826  147.0587

In [17]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Katsuura,JP,61.50,35.1333,140.3000,Katsuura Hotel Mikazuki
5,Te Anau,NZ,60.04,-45.4167,167.7167,Kingsgate Hotel Te Anau
7,Aguimes,ES,61.43,27.9054,-15.4461,Hotel Villa de Aguimes
9,Hobart,AU,71.46,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
12,Port Lincoln,AU,65.19,-34.7333,135.8667,Port Lincoln Hotel
13,Rikitea,PF,77.07,-23.1203,-134.9692,People ThankYou
14,Harer,ET,62.58,9.3094,42.1258,Amir Cultural Harari Guesthouse
19,Pangai,TO,78.91,-19.8000,-174.3500,Ha'apai Beach Resort
22,Castro,BR,61.74,-24.7911,-50.0119,CHACARA BAILLY
23,New Norfolk,AU,71.10,-42.7826,147.0587,The Shingles Riverside Cottages

## Add a Heatmap of Temperature for the Vation Spots.

In [23]:
 # Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Using the template add the hotel marks to the heatmap

In [24]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

## Add a heatmap of temperature for the vacation spots and a pop-up marker for each city

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))