# Create Heatmaps for Weather Parameters

In [1]:
# Import the Depensencies.
import pandas as pd
import gmaps
import requests
from config import g_key

###### Load the CSV exported in Part 1 to a DataFrame

In [2]:
# Store  the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-29 04:25:08,-54.8000,-68.3000,37.87,98,100,2.95
1,1,Punta Arenas,CL,2022-04-29 04:25:45,-53.1500,-70.9167,42.91,70,75,18.41
2,2,Darhan,MN,2022-04-29 04:25:45,49.4867,105.9228,46.58,20,0,7.11
3,3,Katsuura,JP,2022-04-29 04:25:46,35.1333,140.3000,61.50,93,100,14.27
4,4,Narsaq,GL,2022-04-29 04:25:47,60.9167,-46.0500,43.02,81,100,1.54

In [3]:
# Get the Data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Maximun Temperature Heatmap

In [4]:
# Cofingure gmaps to use my Google API Key
gmaps.configure(api_key=g_key)

#### Create the Heatmap for the Maximum Temperature. Add the Locations arry and the values from the maximum temperature from our city_data_df DataFrame

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Temperature

In [6]:
 # Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
# max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Percent Humidity

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Cloudiness

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Heatmap of Wind Speed

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

 - Narrow down the cities to fit weather conditions.
 - Drop any rows will null values.

In [10]:
# Ask the Customer to add a minimum and maximu temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Hobart,AU,2022-04-29 04:21:38,-42.8794,147.3294,71.46,73,75,13.80
12,12,Port Lincoln,AU,2022-04-29 04:25:51,-34.7333,135.8667,65.19,68,100,16.26
13,13,Rikitea,PF,2022-04-29 04:25:52,-23.1203,-134.9692,77.07,69,1,19.10
19,19,Pangai,TO,2022-04-29 04:25:55,-19.8000,-174.3500,78.91,83,75,19.57
23,23,New Norfolk,AU,2022-04-29 04:25:57,-42.7826,147.0587,71.10,54,100,8.19
25,25,Lazaro Cardenas,MX,2022-04-29 04:25:58,17.9583,-102.2000,77.00,77,0,4.05
26,26,Muroto,JP,2022-04-29 04:23:41,33.2833,134.1500,70.79,94,100,38.54
27,27,Kapaa,US,2022-04-29 04:25:59,22.0752,-159.3190,75.11,86,0,11.50
28,28,Airai,TL,2022-04-29 04:25:59,-8.9266,125.4092,76.80,42,91,2.24
30,30,Avarua,CK,2022-04-29 04:26:00,-21.2078,-159.7750,78.85,83,98,8.05

In [12]:
 preferred_cities_df.notnull().sum()

City_ID       157
City          157
Country       155
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [13]:
 preferred_cities_df.count()

City_ID       157
City          157
Country       155
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

### Hotel Map

 - Store into variable named hotel_df.
 - Add a "Hotel Name" column to the DataFrame.
 - Set parameters to search for hotels with 5000 meters.
 - Hit the Google Places API for each city's coordinates.
 - Store the first Hotel result into the DataFrame.
 - Plot markers on top of the heatmap

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
9            Hobart      AU     71.46 -42.8794  147.3294
12     Port Lincoln      AU     65.19 -34.7333  135.8667
13          Rikitea      PF     77.07 -23.1203 -134.9692
19           Pangai      TO     78.91 -19.8000 -174.3500
23      New Norfolk      AU     71.10 -42.7826  147.0587
25  Lazaro Cardenas      MX     77.00  17.9583 -102.2000
26           Muroto      JP     70.79  33.2833  134.1500
27            Kapaa      US     75.11  22.0752 -159.3190
28            Airai      TL     76.80  -8.9266  125.4092
30           Avarua      CK     78.85 -21.2078 -159.7750

In [15]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Hobart,AU,71.46,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
12,Port Lincoln,AU,65.19,-34.7333,135.8667,Port Lincoln Hotel
13,Rikitea,PF,77.07,-23.1203,-134.9692,People ThankYou
19,Pangai,TO,78.91,-19.8000,-174.3500,Ha'apai Beach Resort
23,New Norfolk,AU,71.10,-42.7826,147.0587,The Shingles Riverside Cottages
25,Lazaro Cardenas,MX,77.00,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
26,Muroto,JP,70.79,33.2833,134.1500,Oota Ryokan
27,Kapaa,US,75.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Airai,TL,76.80,-8.9266,125.4092,
30,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn

## Create a Maximum Temp Heatmap from a Hotel DataFrame.

In [17]:
 # Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Using the template add the hotel marks to the heatmap

In [19]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

## Add a heatmap of temperature for the vacation spots and a pop-up marker for each city

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))